@page
@model DotNetCore_test.Pages.IndexModel
@{

}

<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <h1> Index Razor Page!</h1>
    

</body>
</html>
