@page
@model DotNetCore_test.Pages.JavascriptFormPostModel
@{
}
<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Javascript Form</title>
    <script type="text/javascript" >
    
      
        function isFormValidOnSubmit(aForm)
        {
            alert('Via onSubmit - Input Field = ' + aForm.InputField.value);
            //if valid return true otherwise return false

            return true;
        }

        function isFormValidViaButton(aForm){
            alert('Via Button - Input Field = ' + aForm.InputField.value);
            
            //if valid , then all submit
            aForm.submit();

        }
        
    </script>
</head>
<body>
    <form name="SampleForm" method="post" onsubmit="return isFormValidOnSubmit(window.document.SampleForm);" action="~/ViewHTTPRequest">
        <table>
            <tr>
                <td> 
                    Input Field :           
                </td>
                <td>
                    <input type="text" name="InputField" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="Submit" value="Submit" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" name="Button" value="Button" onclick=" isFormValidViaButton(window.document.SampleForm);" />
                </td>
            </tr>
        </table>

    </form>
</body>
</html>
